.main-button {
	font-family: 'MulishExtraBold', sans-serif;
	font-size: 1.6rem;
	padding: 12px 24px;
	border: none;
	cursor: pointer;
	transition: all 0.3s ease;
	user-select: none;
}

@media (hover: hover) {
	.main-button:hover:not(.disabled) {
		opacity: 0.9;
	}
}

.main-button:active:not(.disabled) {
	opacity: 0.8;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
}

/* Primary variant */
.main-button.primary {
	font-size: 1.4rem;
	background-color: var(--MainDarkBlue);
	color: var(--white);
	border-radius: 5px;
}

.main-button.primary.disabled {
	background-color: var(--MainDark50);
}

/* Secondary variant */
.main-button.secondary {
	background-color: var(--MainDarkBlue);
	color: var(--white);
	border-radius: 40px;
}

.main-button.secondary.disabled {
	background-color: var(--MainDark50);
}

/* primaryLight variant */
.main-button.primaryLight {
	color: var(--MainDark);
	background-color: var(--white);
	border-radius: 5px;
}

.main-button.primaryLight.disabled {
	color: var(--white);
	background-color: var(--MainDark50);
}
