.main-button {
	font-family: 'MulishExtraBold', sans-serif;
	font-size: 1.6rem;
	padding: 12px 24px;
	border: none;
	cursor: pointer;
	transition: all 0.3s ease;
	/* min-width: 120px; */
}

.main-button:hover:not(.disabled) {
	opacity: 0.8;
}

/* Primary variant */
.main-button.primary {
	font-size: 1.4rem;
	/* height: 54px; */
	background-color: #3c477c;
	color: #fff;
	border-radius: 5px;
}

.main-button.primary.disabled {
	background-color: #27272750;
}

/* Secondary variant */
.main-button.secondary {
	background-color: #3c477c;
	color: #fff;
	border-radius: 40px;
}

.main-button.secondary.disabled {
	background-color: #27272750;
}

/* primaryLight variant */
.main-button.primaryLight {
	/* height: 50px; */
	color: #272727;
	background-color: #fff;
	border-radius: 5px;
}

.main-button.primaryLight.disabled {
	color: #fff;
	background-color: #27272750;
}
