.react-datepicker {
	font-size: 1.3rem !important;

	background-color: var(--white);
	border: 1px solid var(--MainDarkBlue25);
	border-radius: 5px;

	box-shadow: 0px 5px 10px var(--MainDark25);
}

/* Треугольник */
.react-datepicker-popper[data-placement^='bottom'] .react-datepicker__triangle {
	fill: var(--white);
	color: var(--MainDarkBlue25);
}
.react-datepicker-popper .react-datepicker__triangle {
	stroke: var(--MainDarkBlue25);
}

/* Heder */
.react-datepicker__header {
	padding-top: 0.8em;
	background-color: var(--white);
	border-bottom: 1px solid var(--MainDarkBlue25);
}

.react-datepicker__current-month {
	font-size: 1em;
	color: var(--MainDark);
	text-transform: capitalize;
	font-family: 'MulishExtraBold', sans-serif;
}

.react-datepicker__month {
	margin: 0.4em 1em;
}

.react-datepicker__navigation {
	top: 5px !important;
}

.react-datepicker__navigation-icon::before {
	border-color: var(--MainDarkBlue);
	border-width: 3px 3px 0 0;
	border-radius: 2px;
	height: 10px;
	width: 10px;
}

.react-datepicker__navigation:hover *::before {
	border-color: var(--MainLightBlue);
}

.react-datepicker__navigation--previous {
	left: 10px;
}

.react-datepicker__navigation--next {
	right: 10px;
}

.react-datepicker__day-name,
.react-datepicker__day {
	width: 1.9em;
	line-height: 1.9em;
	margin: 0.166em;
	font-family: 'MulishSemiBold', sans-serif;
}

.react-datepicker__day-names *:last-child,
.react-datepicker__day-names *:nth-child(6) {
	color: var(--red);
}

.react-datepicker__day--weekend {
	font-family: 'MulishExtraBold', sans-serif;
}

.react-datepicker__navigation {
	top: 1em;
	line-height: 1.7em;
	border: 0.45em solid transparent;
}

.react-datepicker__day--today {
	border-radius: 3px;
	background-color: var(--MainLightBlue);
}

.react-datepicker__day--selected {
	background-color: var(--MainDarkBlue);
}

.react-datepicker__day--selected:hover {
	background-color: var(--MainDarkBlue);
}

.react-datepicker__day:hover {
	background-color: var(--MainDarkBlue25);
}

.react-datepicker__day-name {
	color: var(--MainDark);
}
