.ratingContainer {
	display: flex;
	align-items: center;
	gap: 5px;
	user-select: none;
}

.ratingContainer > p {
	font-size: 1.4rem;
	color: var(--MainDarkBlue);
	padding-top: 5px;
}

.ratingValue {
	font-family: 'MulishBold', sans-serif;
}

.reviewCount {
	font-family: 'MulishSemiBold', sans-serif;
}
