/* Общие стили для блоков */
.footer {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: space-between;
	background-color: #272727;
	padding-top: 45px;
	min-height: 420px;
}

.blocksContainer {
	padding: 0 23% 0 10%;
	display: flex;
	gap: 3%;
	justify-content: space-between;
}

.block {
	border-top: 1px solid white;
	padding-top: 35px;
	transition: all 0.3s ease;
}

.block:hover {
	border-color: #7681d6;
	opacity: 0.8;
}
/* --- */

/* Стили для логотипа и блоков с информацией */
.icon {
	width: 84px;
	height: auto;
}

.title {
	font-family: 'MulishBold', sans-serif;
	font-size: 1.5rem;
	text-align: left;
	color: #ffffff90;
	margin-top: 15px;
}

.blocksContainer .block:first-child {
	display: flex;
	justify-content: center;
	gap: 10%;
}

.blocksContainer .block:first-child div {
	display: flex;
	flex-direction: column;
	max-width: 200px;
}

.blocksContainer .block:first-child,
.blocksContainer .block:nth-child(3) {
	user-select: none;
}

.blocksContainer .block:first-child .description {
	font-family: 'MulishRegular', sans-serif;
	font-size: 1.5rem;
	color: #ffffff60;
}

.description {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: left;
	gap: 15px;
}

.description * {
	font-family: 'MulishRegular', sans-serif;
	font-size: 1.5rem;
	color: #ffffff60;
}

.compass {
	position: absolute;
	right: 8%;
	bottom: -50px;
	width: 200px;
	height: 200px;
}
/* --- */

/* Стили для нижнего блока с соцсетями и копирайтом */
.bottom {
	background-color: #00000020;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 30px;
	padding: 0 10%;
}

.social {
	display: flex;
	gap: 10px;
}

.socialIcon {
	width: 40px;
	height: 40px;
}

.copyright {
	font-family: 'MulishRegular', sans-serif;
	font-size: 1.5rem;
	text-align: left;
	color: white;
}
/* --- */

/* Адаптивная верстка */
@media (max-width: 1024px) {
	.blocksContainer {
		padding: 0 20% 0 8%;
	}

	.blocksContainer {
		flex-wrap: wrap;
	}

	.bottom {
		padding: 0 8%;
	}
}

@media (max-width: 780px) {
	.blocksContainer {
		padding: 0 20% 0 8%;
	}

	.blocksContainer {
		flex-direction: column;
		gap: 15px;
	}

	.blocksContainer .block:first-child div {
		justify-content: center;
	}
	.blocksContainer .block:first-child {
		justify-content: left;
	}

	.block {
		border-left: 1px solid white;
		border-top: none;
		padding: 15px 0 15px 30px;
	}

	.icon {
		width: 70px;
	}

	.title {
		margin: 0;
	}

	.bottom {
		padding: 0 8%;
	}

	.compass {
		right: 4%;
		width: 150px;
		height: 150px;
		bottom: -20px;
	}
}

@media (max-width: 480px) {
	.blocksContainer {
		padding: 0 10% 0 4%;
	}

	.bottom {
		padding: 0 4%;
	}

	.compass {
		right: 2%;
		width: 120px;
		height: 120px;
		opacity: 0.5;
	}
}

@media (max-width: 360px) {
	.compass {
		display: none;
	}

	.social {
		gap: 8px;
	}

	.socialIcon {
		width: 35px;
		height: 35px;
	}

	.copyright {
		font-size: 1.3em;
	}
}
/* --- */
