/* Импортируем оригинальные стили */
@import '../styles.css';

/* Дополнительные стили для скелетона */
.container.skeleton > span {
	width: 100%;
}

.skeleton .separator {
	color: var(--MainDark50);
}

.skeleton .controlBlockButton {
	animation: loading 1.5s infinite;
}

.skeleton .iconButton {
	background-color: var(--MainDark50);
	animation: loading 1.5s infinite;
}

.skeleton .iconButton * {
	border-radius: 10px;
}

.skeleton .popularNow > span {
	width: 50%;
	margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.skeleton .popularNow .description {
	width: 95%;
}

@keyframes loading {
	0% {
		opacity: 0.6;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0.6;
	}
}

/* Адаптивные стили */
@media screen and (max-width: 768px) {
	.skeleton .popularNow > span {
		width: 100%;
		margin-left: 0;
	}
}
