/* Стили для открывающего меню */
.mobileNav {
	display: none;
	opacity: 0;
	position: fixed;
	top: 80px;
	left: -150%;
	right: 0;
	background: var(--MainDark);
	padding: 20px;
	flex-direction: column;
	gap: 20px;
	transition:
		left 0.5s linear,
		opacity 0.5s ease;
	z-index: 100;
	height: 100%;
	width: 100%;
	user-select: none;
}

/* Варианты стилей */
.mobileNav.dark {
	background: var(--MainDark);
}

.mobileNav.light {
	background: var(--white);
}

.mobileNav.light > * {
	color: var(--MainDark);
}

.mobileNav.dark > * {
	color: var(--white);
}
/* --- */

.mobileNav.open {
	opacity: 1;
	left: 0;
}

.mobileNav a {
	color: white;
	padding: 10px 0;
	text-align: center;
}
/* --- */

/* Стили для кнопки переключения темы */
.mobileNavSetting {
	position: absolute;
	width: 90%;
	top: 77%;
	display: flex;
	justify-content: flex-end;
}

.theme-toggle-button {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: none;
	background: var(--MainDark);
	cursor: pointer;
	transform-origin: center center;
	outline: none;
	-webkit-tap-highlight-color: transparent;
	user-select: none;
}

.theme-toggle-button.dark {
	background: var(--white);
}

.theme-toggle-button svg {
	width: 24px;
	height: 24px;
	transition: all 0.5s linear;
}

.theme-toggle-button.light svg {
	fill: var(--white);
	transform: rotate(360deg);
}

.theme-toggle-button.dark svg {
	fill: var(--black);
	transform: rotate(0deg);
}
/* --- */

@media (max-width: 768px) {
	.mobileNav {
		display: flex;
	}
}

@media (max-width: 480px) {
	.mobileNav {
		top: 70px;
	}
}
