.registrationFormContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 110vh;
	min-height: 900px;
}

@media screen and (max-width: 768px) {
	.registrationFormContainer {
		height: 115vh;
	}
}

@media screen and (max-width: 480px) {
	.registrationFormContainer {
		height: 110vh;
	}
}
